body {
  margin-top: 60px;
  background-color: white;
  font-family: 'Roboto', sans-serif;
}


#img-caption {
    font-size: small;
    font-style: italic;
}

#image {
    margin: 0 auto;
}

#tribute-info {
    margin-top: 50px;
    margin-bottom: 40px;
}