body {
  margin-top: 60px;
  background-color: #2ecc71;
  font-family: 'Oswald', sans-serif;
}

#main {
    background-color: #27ae60;
    color: white;
}

#title {
    font-size: 5rem;
}

a {
    text-decoration: none;
    color: white;
}


#img-caption {
    font-size: small;
    font-style: italic;
}

#image {
    margin: 0 auto;
}

#tribute-info {
    margin-top: 50px;
    margin-bottom: 40px;
}